<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="schedule">
      <ion-icon name="home"></ion-icon>
      <ion-label>Marketplace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="trail-sign-outline"></ion-icon>
      <ion-label>Signals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="location"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
