<ion-content class="background-image" [fullscreen]="true">
  <div id="title">
    <h1>Welcome to Signal!</h1>
    <h5>Your only platform for all things trading!</h5>
  </div>

  <div id="bottom-buttons">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button routerLink="login" color="light" expand="block"
            ><strong>Login</strong></ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button routerLink="signup" color="light" expand="block">
            <strong>Sign Up</strong></ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
