/*
 * Speaker Background
 */

ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.speaker-background {
  position: relative;

  display: flex;

  padding-top: var(--ion-safe-area-top);

  align-items: center;
  justify-content: center;

  flex-direction: column;

  height: calc(250px + var(--ion-safe-area-top));

  background: center / cover
    url("https://images.ctfassets.net/hrltx12pl8hq/8MpEm5OxWXiNqLvWzCYpW/24f02cfe391aa8f25845de858982d449/shutterstock_749707636__1__copy.jpg?fit=fill&w=840&h=350")
    no-repeat;
}

.speaker-background img {
  width: 150px;
  border-radius: 50%;
  margin-top: calc(-1 * var(--ion-safe-area-top));
}

.speaker-background h2 {
  position: absolute;

  bottom: 10px;

  color: white;
}

.md .speaker-background {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.ios .speaker-background {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

/*
 * Speaker Details
 */

.speaker-detail p {
  margin-left: 6px;
  margin-right: 6px;
}

#footer {
  margin-left: 60px;
  margin-top: 600px;
  margin-right: 6px;
}

.speaker-detail hr {
  margin-top: 20px;
  margin-bottom: 20px;

  background: var(--ion-color-step-150, #d7d8da);
}

.container {
  padding: 20px;
}

.speaker-card {
  display: flex;
  flex-direction: column;
}

/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .speaker-card {
  margin-bottom: 0;
}

.speaker-card .speaker-item {
  --min-height: 85px;
}

.speaker-card .speaker-item h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.speaker-card .speaker-item p {
  font-size: 13px;
  letter-spacing: 0.02em;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);

  padding: 0;
}
